# Dotnet
**/bin/
**/obj/
 
# IDE
.idea/
.run/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

#IDE
/backend/.idea/.idea.backend/.idea


# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

docker-compose.yml
Dockerfile.frontend
Dockerfile.dotnet
Dockerfile.seeder
Dockerfile.storage
nginx.conf
.env
.vs/